.busca{

    width: 227px;
    height: 48px;
display: flex;
align-items: center;


}
.pesquisa{
  
    padding: 12px 16px;
    border: 1px solid var(--gray-10);
    border-radius: 10px;
    line-height: 19px;
    font-weight: 400;
    font-size: var(--m);
 
    float: none;



  }

  .lupa{
     
    float:right;
    margin:3px 0px 0px -40px;
    cursor:pointer;
    display: inline;
    color: var(--gray-10);
    
  }
  @media (max-width: 768px) {
  
    .busca{
      padding-top: 20px;
      width: 335px;
        
    }
    .pesquisa{
      width: 335px;
    }
  
  }